/*
========================================================================================
    SLURM configuration for pipeline
========================================================================================
    Configuration for SLURM cluster execution
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'
    queue    = 'normal'
    
    // SLURM-specific directives
    clusterOptions = '--qos=normal'
    
    // Time and resource limits for SLURM
    withLabel:process_single {
        cpus   = 1
        memory = '6.GB'
        time   = '4.h'
        queue  = 'normal'
    }
    
    withLabel:process_low {
        cpus   = 2
        memory = '12.GB'
        time   = '4.h'
        queue  = 'normal'
    }
    
    withLabel:process_medium {
        cpus   = 6
        memory = '36.GB'
        time   = '8.h'
        queue  = 'normal'
    }
    
    withLabel:process_high {
        cpus   = 12
        memory = '72.GB'
        time   = '16.h'
        queue  = 'normal'
    }
    
    withLabel:process_long {
        time   = '24.h'
        queue  = 'long'
    }
    
    withLabel:process_high_memory {
        memory = '200.GB'
        queue  = 'highmem'
    }
}
